<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :CB_apikey, "You bought: "%>
    <%= form.select :CB_apikey, @selectiveCoins, include_blank: 'Select One'%>
  </div>

  <div class="field">
    <%= form.label :CB_value, "Value: " %>
    <%= form.number_field :CB_value, step: :any %>
  </div>

  <div class="field">
    <%= form.label :CB_amount, "Amount: " %>
    <%= form.number_field :CB_amount, step: :any %>
  </div>

  <div class="field">
    <%= form.label :CS_apikey, "You sold: " %>
    <%= form.select :CS_apikey, @selectiveCoins, include_blank: 'Select One'%>
  </div>

  <div class="field">
    <%= form.label :CS_value, "Value: " %>
    <%= form.number_field :CS_value, step: :any %>
  </div>

  <div class="field">
    <%= form.label :CS_amount, "Amount: " %>
    <%= form.number_field :CS_amount, step: :any %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
